# My entries...
Backups/
Test/
Misc/
Rejected/

# Service files...
git*.sh
curl-ca-bundle.crt

# Test files...
.tumblr*
*.html

# Windows image file caches
Thumbs.db
ehthumbs.db
photothumb.db

# Folder config file
Desktop.ini

# Windows shortcuts
*.lnk
